.navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Aggiungi una transizione di scala al logo */
.navbar-brand img {
  transition: transform 0.3s ease-in-out; /* Tempo di transizione e funzione di accelerazione */
}

/* Aggiungi l'effetto di scala al passaggio del mouse */
.navbar-brand img:hover {
  transform: scale(
    1.1
  ); /* Modifica questo valore per controllare l'intensità dello zoom-in o zoom-out */
}

.navbar-nav .nav-link {
  font-size: 20px;
  margin: 0 15px;
  color: blue;
}

.navbar {
  background-color: #f8f9fa; /* Sostituisci con il tuo colore preferito */
  color: white; /* Sostituisci con il tuo colore preferito per il testo */
  border-radius: 100px;
}

/* Aggiungi animazione di hover ai link del menu */
.navbar-nav .nav-link:hover {
  color: white; /* Sostituisci con il tuo colore preferito per l'hover */
}

/* Personalizza il colore di sfondo della NavBar */
.bg-base {
  background-color: #0f4272;
}

/* Personalizza lo sfondo del secondo carosello */
#secondCarousel {
  background-color: #f8f9fa;
}

/* Personalizza il testo sulle immagini del secondo carosello */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* Aggiungi un bordo attorno alle immagini del carosello */
.carousel-inner img {
  border: 2px solid #0f4272;
}
.testimonial-card {
  padding: 20px;
  text-align: center;
}
.testimonial-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonial-card:hover .rating-stars {
  transform: scale(2); /* Ingrandisci le stelle al passaggio del mouse */
}
/* Effetto hover per le recensioni */
.rating-stars:hover {
  transform: scale(1.8); /* Ingrandisci leggermente la recensione */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi una leggera ombra */
}
